body {
    padding-top: 50px;
}

.btn-submit {
    float: right;
}

.footer {
    background-color: #F8F8F8;
    height: 60px;
    margin-top:30px;
  	padding-top:20px;
  	padding-bottom:20px;
    border: 1px solid #E7E7E7;
}

.form-horizontal .control-label{
   text-align:left !important; 
}
